/* z-index...
index 0-9   Body, gamefield
index 10-19  for Background, passive elements
index 20-27 for active elements bonus, enemys, bullets
index 28    exclusive for the Player!
index 30-39 menues, labels like highscore,....
index 40-49  */

/* now using: 
body =                     0
gamefield =                1
movingBackground =        10
backgroundItems =         11 // just dekopration
//bonusItems =            20
bullets =                 21
enemys =                  27
player =                  28
massiveBackgroundItems =  29 //will block Players movement
// highscore other stats, 
//start, pause menue 30+ */

body {
    z-index: 0;
}

#snowmen-invasion {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* -->remove possible scrollbars by hand */
}

.movingBackground {
    z-index: 10;
    position: absolute;
    background-image: url("../img/snow-very-light-background.jpg");
    background-repeat: repeat-x;
}

.backgroundItem {
    position: absolute;
}

.backgroundItem img {
    z-index: 11;
    position: absolute;
    width: inherit;
    height: inherit;
}

.backgroundMassiveItem {
    z-index: 29;
    position: absolute;
}

.backgroundMassiveItem img {
    z-index: 29;
    position: absolute;
    width: inherit;
    height: inherit;
}

.bullet {
    z-index: 21;
    position: absolute;
}

.bullet img {
    z-index: 21;
    position: absolute;
    width: inherit;
    height: auto; /*to keep original aspect (only the upper end is necessary for the collision*/
}

.enemy {
    z-index: 27;
    position: absolute;
}

.enemy img {
    z-index: 27;
    width:inherit;
    height: inherit;
    /* height: auto; to keep original aspect */
}

.player {
    z-index: 28;
    position: absolute;
}

.player img {
    z-index: 28;
    width:inherit;
    height: inherit;
}

.label {
    z-index: 30;
    position: absolute;
    width: fit-content;
    height:fit-content;
    }

.healthPoints {
    left: 1rem;
    top: 1rem;
}

.highscore {
    right: 1rem;
    top: 1rem;
}